form{
    /* background-color: gainsboro; */
    width: 200px;
    height: 250px;
    background-color: blanchedalmond;
    padding: 30px;
    margin: 30px auto;
    justify-content: center;
    font-size: 20px;
    border-radius: 13px;
}
form div{
    padding: 4px;
}
form div input{
    width: 100%;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
}
.tt{
    border-radius: 5px;
    width: 100%;
}
#submit{
    width: 180px;
    background-color: rgba(255, 205, 111, 0.886);
    /* border: 3px solid black; */
    border-radius: 10px;
    font-size: 20px;
    padding: 7px 0;
    margin: 8px;
    width: 100%;
}